#loginGreeting{
    font-weight: 500;
    font-size: large;
    width: 90%;
}

#mainLoginDiv{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
}

#studentsImage{
    object-fit: none;
    /* object-position: 0px 20px; */
    width: 100%;
    height: 100%;
}

#imgDiv{
    width: 70%;
    height: 85%;
}

#leftLoginDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15%;
    margin-left: 10%;
}

#formFjalekalimi{
    margin-bottom: 10px;
}

.formButton{
    background-color: black;
    color: white;
    border: none;
    width: 100px;
    height: 30px;
    font-size: 11px;
    cursor: pointer;
}

.formButton:hover{
    background-color: rgb(72, 72, 72);
}


.label{
    margin-right: 58px;
}

#label2{
    margin-right: 60px;
}

#button1{
    margin-right: 38px;
}

#formNID{
    margin-bottom: 10px;
}

.input{
    text-align: center;
}

.input:hover{
    background-color: rgb(72, 72, 72);
    cursor: pointer;
    color: white;
}