table {
    width: 50%;
    margin-top: 20px;
    border-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
}

  #link{
    text-decoration: none;
    color: rgb(102, 21, 21);
    width: 100%;
  }

  .tdLink{
    padding: 0;
  }
  .tdLink > a{
    width: 100%;
  }

  .tdLink, .tdLink > a{
    cursor: cell !important;
  }

  .tdLink:hover #link{
    color: white;
  }

  
  th, td {
    border: 1px solid #000000;
    padding: 5px;
  }

  th:hover,td:hover{
    background-color: rgb(68, 68, 68);
    color: white;
    cursor: pointer;
  }
  
  table tbody tr {
    height: 30px;
  }

  table td {
    text-align: center;
  }

  .deleteButton{
    width: 100% !important;
    background-color: transparent;
  }

  .deleteButton:hover{
    cursor:not-allowed;
  }

  .formButton{
    background-color: black;
    color: white;
    border: none;
    /* width: 30px; */
    cursor: pointer;
}

.formButton:hover{
    background-color: rgb(72, 72, 72);
}

.tdLink {
  position: relative;
}

#link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.link-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
