table {
    width: 50%;
    margin-top: 20px;
    border-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
}

  #link{
    text-decoration: none;
    color: rgb(102, 21, 21);
  }
  
  .tdLink:hover #link{
    color: white;
  }

  
  th, td {
    border: 1px solid #000000;
    padding: 5px;
  }

  th:hover,td:hover{
    background-color: rgb(68, 68, 68);
    color: white;
    cursor: pointer;
  }
  
  table tbody tr {
    height: 30px;
  }

  table td {
    text-align: center;
  }

  #deleteButton{
    background-color: transparent;
  }

  #deleteButton:hover{
    cursor:cell;
  }

  .formButton{
    background-color: black;
    color: white;
    border: none;
    width: auto;
    cursor: pointer;
}

.formButton:hover{
    background-color: rgb(72, 72, 72);
}